body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.field-card, .dashboard-card{
    display: table;
    box-shadow: 1px 1px 3px 0px #0005;
}

.field-card {
    margin: 1rem;
    padding: 1rem 2em;
}

#topbar {
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #90DDF0;
}

#topbar p {
    display: inline-block;
    margin-top: 1em;
    margin-right: 2rem;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

.clickable {
    user-select: none;
    cursor: pointer;
}

#logo-img, #avatar-img {
    height: 2em;
}

#logo-img {
    float: left;
    margin-right: 2em;
    border: 3px solid #2C666E;
    border-radius: 0.5em;
    padding: 2px;
}

#user-name, #avatar-img {
    float: right;
}

#avatar-img {
    border: 3px solid #2C666E;
    border-radius: 2rem;
}

#topbar #user-name {
    margin-top: 0.75rem;
    margin-right: 0.75rem;
    text-decoration: none;
}

#inbox, #taskList, #calendar {
    display: inline-block;
    margin-left: 2em;
    border: 3px solid #2C666E;
    border-radius: 1em;
    width: 35%;
    height: 35%;
    overflow-y: auto;
}

#inbox .title, #taskList .title, #calendar .title {
    margin-left: 1em;
    text-decoration: underline;
}

.dashboard-card {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1em;
    padding: 0;
}

.dashboard-card p {
    padding-left: 1em;
}

#calendar-table-container {
    display: flex;
    justify-content: center;
}

.calendar-cell {
    border: 2px solid #2C666E;
    width: 2em;
    height: 2em;
    text-align: center;
}

.past-cell {
    background-color: #ebebeb;
}

.weekend-cell {
    border: 2px solid grey;
    background-color:lightgrey;
}

.blank-cell {
    border: none;
    background-color:white;
}