$buzz-orange: #bb4430ff;
$buzz-light-orange: #bb443088;
$buzz-yellow: #e4b363ff;
$buzz-light-yellow: #e4b36388;
$buzz-white: #e8e9ebff;
$buzz-grey: #e0dfd5ff;
$buzz-black: #313638ff;
$buzz-grey: #C4C4C4;
$buzz-light-grey: #C4C4C4;
$buzz-blue: #445e93ff;
$buzz-light-blue: #445e9388;
$buzz-teal: #114b5fff;
$buzz-light-teal: #114b5f88;