$primary-color: #2C666E;

#app {
    text-align: center;
}

input {
    margin: 0.5em;
}

.error {
    color: #d91e27;
}

#login-container {
    display: inline-block;
    border: 4px solid $primary-color;
    margin-top: 15%;
    border-radius: 1em;
    padding: 3em 1em 0;

    p {
        text-decoration: underline;
    }

    button {
        margin-top: 2rem;
    }
}

#login-container, #login-container * {
    font-size: 1.5rem;
}

#login-status-text {
    min-height: 1.5rem;
}