body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

button {
    border: 3px solid #2C666E;
    border-radius: 4px;
    font-size: 1.25rem;
    margin: 1em;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    width: 20rem;
    height: 4rem;
}

.field-card, .dashboard-card{
    display: table;
    box-shadow: 1px 1px 3px 0px #0005;
}

.field-card li {
    list-style-type: disc;
    text-align: left;
}

#field-input-container {
    display: inline-block;
    margin-left: 2em;
    margin-top: 1em;
    padding: 1rem;
    border: 3px solid #2C666E;
    border-radius: 1rem;

    p {
        margin: 0.25rem;
    }
}

.field-card {
    margin: 1rem;
    padding: 1rem 2em;
}

.field-type {
    font-style: italic;
}

#form-container {
    text-align: center;
    margin-top:2rem;
}

#form-content {
    display: inline-block;
    position: relative;
    border: 3px solid #2C666E;
    border-radius: 1rem;
    padding: 2rem;
    overflow-y:auto;
    min-width:80%;
    min-height:30%;
    max-height: 60%;
}

#form-title {
    font-size: 1.5rem;
}

.save-icon {
    position: absolute;
    right: 3rem;
    font-size: 2rem;
}

.eye-icon {
    position: absolute;
    right: 5.5rem;
}

#form-preview-modal .title {
    text-align: center;
    font-size: 1.5rem;
}

.form-field {
    margin-left: 2rem;
}

.form-preview-close {
    position: absolute;
    right: 3rem;
}

#topbar {
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #90DDF0;
}

#topbar p {
    display: inline-block;
    margin-top: 1em;
    margin-right: 2rem;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

.clickable {
    user-select: none;
    cursor: pointer;
}

#logo-img, #avatar-img {
    height: 2em;
}

#logo-img {
    float: left;
    margin-right: 2em;
    border: 3px solid #2C666E;
    border-radius: 0.5em;
    padding: 2px;
}

#user-name, #avatar-img {
    float: right;
}

#avatar-img {
    border: 3px solid #2C666E;
    border-radius: 2rem;
}

#topbar #user-name {
    margin-top: 0.75rem;
    margin-right: 0.75rem;
    text-decoration: none;
}

#inbox, #taskList, #calendar {
    display: inline-block;
    margin-left: 2em;
    border: 3px solid #2C666E;
    border-radius: 1em;
    width: 35%;
    height: 35%;
    overflow-y: auto;
}

#inbox .title, #taskList .title, #calendar .title {
    margin-left: 1em;
    text-decoration: underline;
}

#estimate-container {
    padding: 1em;
}

.dashboard-card {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1em;
    padding: 0;
    border: 2px solid #2C666E;
    border-radius: 0.5em;
}

.card-danger {
    border: 2px solid red;
}

.dashboard-card p {
    padding-left: 1em;
}

#calendar-table-container {
    display: flex;
    justify-content: center;
}

#calendar-table td {
    position: relative;
    padding: 0.2em;
    margin: 0;
}

.cell-highlighted {
    background-color: #90DDF0;
}

.cell-highlighted .calendar-cell {
    border: none;
}

.calendar-cell {
    border: 2px solid #2C666E;
    background-color: white;
    width: 2em;
    height: 2em;
    text-align: center;
}

.green-day {
    background-color: green;
}

.yellow-day {
    background-color: gold;
}

.red-day {
    background-color: red;
}

.past-cell {
    background-color: #ebebeb;
}

.weekend-cell {
    border: 2px solid grey;
    background-color:lightgrey;
}

.blank-cell {
    border: none;
    background-color:white;
}

.date-info {
    position: absolute;
    background-color: white;
    top: 0;
    left: 3em;
    border: 2px solid #2C666E;
    z-index: 10;
    white-space: nowrap;
}

.date-info-inner {
    position: relative;
    display: inline-block;
    padding: 0.5em 1em;
}

.date-info-inner .fa {
    font-size: 1.5rem;
    color: rgb(44, 102, 110);
    position: absolute;
    top: 0;
    right: 3px;
}

#submission-response-text {
    margin: 2em;
}

.move-bars {
    margin-left: 0.5em;
}