body {
    font-family: 'Poppins', sans-serif;
    color: #313638;
    margin:0;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.bold {
    font-weight: bold;
}

.buzz-bold {
    font-weight: bold;
    color: #445E93 !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
    border: 3px solid #445e93ff;
    background-color: white;
    border-radius: 4px;
    font-size: 1.25rem;
    margin: 1em;
    font-family: 'Poppins', sans-serif;
    color: #313638;
}

textarea {
    width: 20rem;
    height: 4rem;
}

.field-card, .dashboard-card{
    display: table;
}

.field-card {
    width: 100%;
    margin: 1rem;
    text-align: center;

    .field-card-inner {
        display: inline-block;
        margin: 0;
        padding: 1rem 2em;
        box-shadow: 1px 1px 3px 0px #0005;
    }

    li {
        list-style-type: disc;
        text-align: left;
    }

    input {
        border:none;
        font-size: 1.2rem;
    }
}

.field-type {
    font-style: italic;
}

#form-container {
    text-align: center;
    margin-top:2rem;
}

#form-title {
    font-size: 1.5rem;
}

#form-preview-modal .title {
    text-align: center;
    font-size: 1.5rem;
}

.form-preview-close {
    position: absolute;
    right: 3rem;
}

.clickable, button {
    user-select: none;
    cursor: pointer;
}

#inbox .title, #taskList .title, .title {
    margin-left: 1em;
    text-decoration: underline;
}

#estimate-container {
    padding: 1em;
}

.card-danger {
    border: 2px solid red;
}

#submission-response-text {
    margin: 2em;
}

.move-bars {
    margin-left: 0.5em;
}