<html>
    <head>
    <title>Development Version</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/my-team.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <body>
        <div id="app">
            <div id="topbar">
                <img src="images/logo.png" id="logo-img">
                <p class="clickable">My Team</p>
                <img src="images/avatar.png" id="avatar-img">
                <p id="user-name">Leslie Knope</p>
            </div>
            <div id="team-container" v-if="!formPreview">
                <p class="clickable" @click="toggleForms('ann_perkins')">
                    Ann Perkins
                    <i class="fa fa-plus" v-if="forms.length == 0"></i>
                    <i class="fa fa-minus" v-if="forms.length != 0"></i>
                </p>
                <p class="clickable" v-for="form in forms" @click="requestForm(form.name)">{{form.name}}</p>
            </div>
            <div id="form-preview-modal" v-if="formPreview">
                <i class="fa fa-times form-preview-close" style="font-size:2rem; color:#2C666E;" @click="closeFormPreview"></i>
                <p class="title">{{formTitle}}</p>
                <div v-for="field in fields" class="form-field">
                    <p> 
                        {{field.label}}
                        <input v-if="field.type == 'text'" :data-label="toLabel(field.label)" type="text">
                        <input v-if="field.type == 'number'" :data-label="toLabel(field.label)" type="number">
                        <textarea v-if="field.type == 'text (long)'" :data-label="toLabel(field.label)" type="number"></textarea>
                        <input v-if="field.type == 'date'" :data-label="toLabel(field.label)" type="date">
                        <select v-if="field.type == 'dropdown'" :data-label="toLabel(field.label)">
                            <option v-for="option in field.options" :value="option">{{option}}</option>
                        </select>
                        <input v-if="field.type == 'slider'" :data-label="toLabel(field.label)" type="range" 
                            :min="field.slider.min" 
                            :max="field.slider.max" 
                            :value="field.slider.initial" 
                            :step="field.slider.step" 
                            class="slider" id="myRange">
                    </p>
                </div>
                <button @click="submitForm">Submit</button>
            </div>
        </div>
        <script type="text/javascript" src="./js/config.js"></script>
        <script type="text/javascript" src="./js/requests.js"></script>
        <script type="text/javascript" src="./js/my-team.js"></script>
    </body>
</html>